.filter-container {
  height: auto;
  min-height: 68.8vh;
  padding: 5rem;
  width: 100%;
  grid-template-columns: repeat(5, minmax(20rem, 1fr));
  place-items: center;
  display: grid;
  gap: 2rem;
  position: relative;

  & h1 {
    height: calc(87.9vh - 13rem - 17rem);
    width: 100%;
    color: var(--color-quartery);
    font-size: 3rem;
    text-align: center;
  }
}

.empty {
  display: block;
}

.card-container {
  margin-bottom: 2rem;
}
