.form-register-section {
  height: calc(100vh - 14rem);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  & h1 {
    font-size: 5rem;
    color: var(--color-primary);
    font-weight: 500;
  }

  & .form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100rem;
    height: 45rem;
    padding: 5rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    gap: 3rem;

    & .section-wrapper {
      display: flex;
      width: 100%;
      gap: 3rem;

      & .field-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 70%;
        gap: 5px;

        & label {
          font-size: 2rem;
          color: var(--color-quartery);
          font-weight: 500;
        }

        & input {
          width: 100%;
          height: 4rem;
          border: none;
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          font-size: 1.8rem;
          padding-inline: 1rem;
          outline: none;
          color: var(--color-quartery);
          transition: var(--transition-1);
        }

        & input:focus {
          box-shadow: 0px 0px 10px var(--color-secundary);
        }
      }
    }

    & .btn-container {
      display: flex;
      width: 70%;
      justify-content: space-between;
      gap: 1.5rem;

      & .btn {
        background-color: var(--color-primary);
        border: none;
        border-radius: 5px;
        color: var(--color-terceary);
        height: 5rem;
        flex: 1 0;
        font-size: 2rem;
        transition: var(--transition-1);

        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .btn:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .form-register-section {
    height: auto;
    padding: 1.5rem;
    gap: 8rem;

    & h1 {
      font-size: 3rem;
      text-align: center;
    }

    & .form-register {
      width: 100%;
      height: auto;
      padding: 2rem;

      & .section-wrapper {
        flex-direction: column;

        & .field-wrapper {
          width: 100%;
          align-items: center;
        }
      }

      & .btn-container {
        width: 100%;
      }
    }
  }
}
