.header-container {
  width: 100%;
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 8888;

  & .main_header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 5rem;
    animation: smaller linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 50vh;

    & img {
      width: 90px;
    }
  }

  & .login {
    font-size: 4rem;
    color: black;
    cursor: pointer;
  }
}

@keyframes smaller {
  to {
    padding-block: 0.2rem;
  }
}

/* SEARCH BAR */

.input__container {
  width: 70rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  border-radius: 20px;
  transition: var(--transition-1);
  padding: 0.8rem;

  & input {
    height: 100%;
    outline: none;
    border: none;
    width: 90%;
    font-size: 1.8rem;
    background-color: transparent;
  }

  & .button-search {
    border: none;
    font-size: 2.8rem;
    color: var(--color-cuartery);
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition-1);
  }
}

.input__container input::placeholder {
  font-size: 1.8rem;
  color: var(--color-cuartery);
  transition: var(--transition-1);
}

.input__container:has(#buscador:focus) {
  background-color: var(--color-terceary);
  transform: scale(1.02);

  & button,
  input::placeholder {
    color: black;
  }
}

.cart-container {
  & .header__cart {
    width: 5rem;
    height: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;

    & i {
      font-size: 4rem;
      color: black;
      cursor: pointer;
    }

    & span {
      width: 2.5rem;
      height: 2.5rem;
      background-color: var(--color-secundary);
      border-radius: 50%;
      position: absolute;
      top: -10px;
      right: -10px;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

/* DROPDOWN */
.dropdown-container {
  border-top: 1px solid var(--color-secundary);
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  position: relative;

  & a {
    font-size: 1.8rem;
    color: #ffff;
    display: flex;
    gap: 10px;

    & .arrow {
      transform: rotate(-180deg);
      transition: var(--transition-2);
    }
  }

  & .dropdown-container_nav_ul {
    display: flex;
    gap: 50px;

    & .dropdown {
      width: 100%;
      padding: 2.5rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      left: 0;
      background-color: var(--color-primary);
      opacity: 0;
      visibility: hidden;
      transition: var(--transition-2);
      z-index: 10;

      & div {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & li > a {
          font-size: 2.2rem;
          color: var(--color-terceary);
        }
      }
    }
  }
}

.dropdown-container li:hover .arrow {
  transform: rotate(0deg);
}

.dropdown-container li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
